/* Initial cleanup
----------------------------------------------- */
html, body {
    padding: 0;
    display: table;
    margin: auto;
}

/* Main structure
----------------------------------------------- */
body {
    font-family: MathJax_Main, Verdana, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 120%;
    margin: auto;
    background-color: #fff;
    min-width: 840px;
}
.stix body {
    font-family: STIXGeneral, MathJax_Main, Verdana, Helvetica, Arial, sans-serif;
}

header, article {
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

footer, #theme-info, #footer-include {
    clear: both;
}
article {
    width:840px;
}
/* Positioning
----------------------------------------------- */
body {
    text-align: left;
    margin: 0 auto 0 0;
}
/* Navigation
----------------------------------------------- */
nav {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    margin: 0 15px 0 0;
    padding: 3px 0 3px 0;
    float: left;
    position: relative;
    border: 0;
}
nav ul li a {
    border: 0;
}
/* HTML element control
----------------------------------------------- */
p {
    margin: 0 0 0 0;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5em;
}

p + p {
    text-indent: 1.5em;
}

.references p + p {
    text-indent: 0em;
}

blockquote {
    margin: 0 0 1em 0;
    padding: 0 30px;
    color: #808080;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 0.8em;
}

sup, sub {
    font-size: 0.75em;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    color: #ccc;
    margin: 1em 0;
    border: none;
    padding: 0;
}

pre, code, tt {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Consolas', 'Courier', 'Courier New', monospace;
    font-size: 1em;
    line-height:1.8;
    color: #4d4d4d;
}

pre {
    margin: 0 0 1em 0;
    border: 1px solid #e5e5e5;
    padding: 0.5em 1em;
    white-space: pre-wrap;
    overflow: hidden;
    background: #fafafa;
}

code, tt {
    background: #efefef;
}

pre code, pre tt {
    background: none;
}

html > body code, html > body tt, html > body pre {
    font-size:12px;
}

h3 code {
    text-transform: none;
}

ul, ol {
    margin: 0 0 1em 15px;
    padding: 0;
}
ul {
    list-style: disc;
}

li {
    line-height: 1.5em;
}
ul li {
    margin: 0 0 0.25em 0.35em;
}
ol li {
    margin: 0 0 0.25em 0.45em;
}

/* Global content control
----------------------------------------------- */
img {
    max-width: 800px;
    height: auto;
    margin: auto;
}

/* Headers
----------------------------------------------- */
#blog-title {
    font-size: 2.5em;
    font-weight: normal;
    height: 60px;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 200%;
    text-align:center;
}
/* The headers tries to emulate the format of
 Oxfod Lecture Series in Mathematics and Its Applications */
h1 {
    font-size: 1.15em;
    line-height: 3em;
    font-weight: bold;
}
#article-title {
    font-size: 1.5em;
    line-height: 1.2em;
    border-bottom: 1px solid #000;
    margin-bottom: 0px;
}
h2 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
}
h3 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}
/* You must be doing it wrong... if you use the following headings
No one need more than 3 levels in a short article... */
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}

/* Footer
----------------------------------------------- */
footer {
    margin: 0.5em 20px 0 20px;
    border-top: 3px double #ccc;
    padding: 1em 0 0 0;
    font-size: 70%;
    color: #999;
}

/* Links
----------------------------------------------- */
a { 
    text-decoration: none;
    border-bottom: 1px black dotted;
    color: #000;
}
a:hover { 
    border: 0;
}
#blog-title a {
    color: #000;
    text-decoration:none;
    border: 0;
}
.theorem-environment{
  color: #000;
  padding: 0 0;
  margin: 20px 0;
  font-style: italic;
}
.theorem-header {
  font-weight: bold;
  font-style: normal;
}
.theorem-header .index:before {
  content: ' ';
}
.theorem-header .name:before {
  content: ' (';
}
.theorem-header .name:after {
  content: ')';
}
.theorem-header:after {
  content: '.\2002\2002';
}
.theorem-header + p{
    display:inline;
}
.Proof .type {
  font-style: italic;
  font-weight: normal;
}
.Proof {
  padding: 0 0;
  font-style: normal;
  position: relative;
}
.Proof:after {
    content: '∎';
    display: inline-block;
    font-size: 100%;
    bottom: 0%;
    right: 0%;
    position: absolute;
}
.gist-file {
  line-height: 1.2;
  font-size: 75%;
}
table.postindex{
  width: 100%;
}
.info {
  margin-top: 20px;
  color: #999;
}
.info a {
    text-decoration: none;
    border-bottom: 1px #999 dotted;
    color: #999;
}
table.postindex td.right {
  text-align: right;
}

.header-section-number {
    margin-right: 10px;
}
.header-section-number:after {
    content: '.';
}
/* code highlight */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; }
td.sourceCode { padding-left: 5px; }
code > span.kw { font-weight: bold; }
code > span.dt { text-decoration: underline; }
code > span.co { font-style: italic; }
code > span.al { font-weight: bold; }
code > span.er { font-weight: bold; }

  dt {
    font-weight: normal;
    font-style: italic;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }

/* printing hide lame things*/
@media print {
    .hide-on-print { display: none !important; }
}