@font-face {
  font-family: 'MathJax_Main';
  src: url('/files/fonts/mathjax_main-regular.eot');
  src: local('MathJax_Main-Regular'), url('/files/fonts/mathjax_main-regular.woff') format('woff'), url('/files/fonts/mathjax_main-regular.ttf') format('truetype'), url('/files/fonts/mathjax_main-regular.svg#webfontZXtFAA5Q') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MathJax_Main-italic';
  src: url('/files/fonts/mathjax_main-italic.eot');
  src: local('MathJax_Main-Italic'), url('/files/fonts/mathjax_main-italic.woff') format('woff'), url('/files/fonts/mathjax_main-italic.ttf') format('truetype'), url('/files/fonts/mathjax_main-italic.svg#webfont2oJeLJIt') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MathJax_Main-bold';
  src: url('/files/fonts/mathjax_main_bold.eot');
  src: local('MathJax_Main-Bold'), url('/files/fonts/mathjax_main_bold.woff') format('woff'), url('/files/fonts/mathjax_main_bold.ttf') format('truetype'), url('/files/fonts/mathjax_main_bold.svg#webfontwFpnxWyx') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MathJax_Main-bold-italic';
  src: url('/files/fonts/mathjax_main-bolditalic.eot');
  src: local('MathJax_Main-BoldItalic'), url('/files/fonts/mathjax_main-bolditalic.woff') format('woff'), url('/files/fonts/smathjax_main-bolditalic.ttf') format('truetype'), url('/files/fonts/mathjax_main-bolditalic.svg#webfontSsfHxKRo') format('svg');
  font-weight: bold;
  font-style: italic;
}