<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Chao Xu</title>
  <meta name="description" content="The personal webpage of Chao Xu.">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" crossorigin="anonymous">
  <!-- Do not remove katex render. Index page is a idpage --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var macros={
              "\\C":"\\mathbb{C}",
              "\\F":"\\mathbb{F}",
              "\\e": "\\varepsilon",
              "\\eps": "\\varepsilon",
              "\\mex": "\\mathop{\\operatorname{mex}}",
              "\\lcm": "\\mathop{\\operatorname{lcm}}",
              "\\dist": "\\mathop{\\operatorname{dist}}",
              "\\bigtriangleright": "{\\mathop{\\Large \\triangleright}}",
              "\\bigtriangleleft": "{\\mathop{\\Large \\triangleleft}}",
              '\\set':'\\left\\{ #1 \\right\\}',
              '\\floor':'\\left\\lfloor #1 \\right\\rfloor',
              '\\ceil':'\\left\\lceil #1 \\right\\rceil',
              '\\abs':'\\left\\| #1 \\right\\|'
              }
    var mathElements = document.getElementsByClassName("math");
    for (var i = 0; i < mathElements.length; i++) {
      var texText = mathElements[i].firstChild;
      if (mathElements[i].tagName == "SPAN") { katex.render(texText.data, mathElements[i], { displayMode: mathElements[i].classList.contains("display"), throwOnError: false, macros:macros} );
    }}});
  </script>

  <!-- toggle selected publications -->
  <script>
    function togglePublication() {
      var x = document.getElementsByClassName("cv-non-selected");
      for (var i = x.length - 1; i >= 0; --i)
        x[i].classList.remove("cv-non-selected");
      x = document.getElementById("pub-toggle");
      x.style.display = "none";
    }
  </script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <link rel="stylesheet" href="/css/default.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/homepage.css?v=20190803" crossorigin="anonymous">
  
</head>
<body>
<div class="container">

<div class="person" itemscope="" itemtype="http://schema.org/Person">
    <meta itemprop="gender" content="Male">
    <meta itemprop="birthDate" content="September 12, 1989">
    <meta itemprop="honorificPrefix" content="Dr">
    <meta itemprop="honorificSuffix" content="PhD">
    <meta itemprop="url" content="https://chaoxuprime.com">
<div class="row" style="display:block"><h1 id="site-title"><span itemprop="givenName">Chao</span> <span itemprop="familyName">Xu</span> <wbr>|<wbr> <ruby>
<rb>许</rb><rp>(</rp><rt>xǔ</rt><rp>)</rp></ruby>
<ruby><rb>超</rb><rp>(</rp><rt>chāo</rt><rp>)</rp></ruby>
</h1></div>

<div class="row">
  <div class="intro-left" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="representativeOfPage" content="True">
    <img width="270" height="270" src="https://chaoxuprime.com/files/chao/chaoxu_current.jpg" style="border-radius:50%;max-width:95%" title="Lord Chao of the House Xu, the First of His Name, Guardian of the Art Gallery" alt="Photo of Chao Xu" itemprop="contentUrl"/>
  </div>
  <div class="intro-right">
    <p>
      I'm an Assistant Professor at <a href="https://en.uestc.edu.cn/">UESTC</a>, a member of the <a href="https://tcsuestc.com/">Algorithms and Logic Group</a>.
      My research interests are <span itemprop="knowsAbout">algorithms</span>, <span itemprop="knowsAbout">combinatorial optimization</span> and <span itemprop="knowsAbout">computational geometry</span>. I'm also interested in more applied problems with nice theoretical components. 
      Here is my <a href="files/cv.pdf">CV</a>(last updated October 2021).
    </p>
    <p>
      I have worked at <a href="https://voleon.com/">Voleon</a>, <a href="https://www.grab.com/">Grab</a> and Google as a software engineer, and was a research scientist at <a href="https://research.yahoo.com/">Yahoo! Research</a> in New York.
    </p>
    <p>I obtained my PhD in Computer Science from 
      <span itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization"><a itemprop="name" href="https://illinois.edu/">University of Illinois at Urbana-Champaign</a></span>
    in May 2018. My advisors were <a href="http://karthik.ise.illinois.edu/">Karthik Chandrasekaran</a> and <a href="http://chekuri.cs.illinois.edu/">Chandra Chekuri</a>.
    I finished my undergrad in mathematics at 
    <span itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization"><a itemprop="name" href="https://www.stonybrook.edu/">Stony Brook University</a></span>
     in 2013, and spent Spring 2012 in <a href="https://www.budapestsemesters.com/">Budapest Semesters in Mathematics</a>.
    </p>
    <p>I maintain a <a href="https://github.com/chaoxu/">github account</a>, a <a href="blog.html"><strong>blog</strong></a> and a Mastodon <a rel="me" href="https://mathstodon.xyz/@chao">@chao</a>. I frequent <a href="http://cstheory.stackexchange.com/users/314/chao-xu">cstheory</a>.</p>

    <p>You can contact me through email <a href="mailto:cxu@uestc.edu.cn"><samp itemprop="email">cxu@uestc.edu.cn</samp></a>.</p>

    <p><a href="pages/recruiting.html">有兴趣加入我的组的学生请看</a>。</p>
  </div>
</div>
</div>


<div class="row pubtypeheader" id="pub-toggle">
  <span>Selected Publications<br /><span style="font-size:0.6em" onclick="togglePublication()"><em><a>See all publications.</a></em></span></span> 
</div>

{% for pub_type in pub_types %}
<div class="cv-non-selected row pubtypeheader">{{pub_type.title}}</div>
  {% for paper in pub_type.papers %}
  <!-- {{paper.title}}  -->
  <div class="{{paper.selected}} row cv-entry" id="{{paper.id}}">
    <input type="checkbox" class="abstract-guard" id="{{paper.id}}-toggle">
    <div class="cv-left">
      {% if 'a' in paper.show %}
        <label class="showmore material-icons" for="{{paper.id}}-toggle"></label>
      {% else %}
        <i class="material-icons disabled">expand_more</i>
      {% endif %}

      {% if 'd' in paper.show %}
        <a href="files/papers/{{paper.id}}.pdf"><i class="material-icons">description</i></a>
      {% else %}
        <i class="material-icons disabled">description</i>
      {% endif %}

      {% if 'p' in paper.show %}
        <a href="files/presentations/{{paper.id}}.pdf"><i class="material-icons">airplay</i></a>
      {% else %}
        <i class="material-icons disabled">airplay</i>
      {% endif %}
    </div>

    <div class="cv-right">
      <cite class="paper-title">{{paper.title}}</cite>
      {% if paper.authors %}
      <ul class="coauthor-list">
        {% for author in paper.authors %}<li>
            {% if author.link %}<a href="{{author.link}}">{{author.name}}</a>{% else %}{{author.name}}{% endif %}</li>{% endfor %}</ul>
      {% endif %}

      <p><em>
      {% if paper.bib %}
        {{paper.bib}}
      {% elif paper.pub %}
        {% if pub_type.title == "Journal Publications" %}
          {{paper.pub.venue}} <time>{{paper.year}}</time>.
        {% else %}
          <abbr title="{{paper.pub.venue}}">{{paper.pub.name}}</abbr>, <time>{{paper.year}}</time>.
        {% endif %}
      {% else %}
        <time>{{paper.year}}</time>.
      {% endif %}
      </em><p>

      {% for note in paper.notes %}
        <aside class="cv-non-selected note">{{note}}</aside>
      {% endfor %}
    </div>

    {% if paper.abstract %}
    <div class="abstract">
      {{paper.abstract}}
      {% if paper.dedication %}
        <aside class="dedication">{{paper.dedication}}</aside>
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% endfor %}
{% endfor %}


</div>
</body>
</html>